In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
filename = "../data/ukpn-nodd-gsp-aggregated.xlsx"
df = pd.read_excel(filename)

In [6]:
print(df.head())

  Grid Supply Point (GSP)                       Date  Voltage_Min  \
0               ISLINGTON  2023-06-26T18:30:00-05:00          NaN
1               ISLINGTON  2023-06-21T18:30:00-05:00          NaN
2               ISLINGTON  2023-06-14T18:30:00-05:00          NaN
3               ISLINGTON  2023-06-12T18:30:00-05:00          NaN
4               ISLINGTON  2023-06-10T18:30:00-05:00          NaN

   Voltage_Max  Voltage_Avg  ActivePower_Min  ActivePower_Max  \
0          NaN          NaN       102.900002        57.700001
1          NaN          NaN       105.299999        57.000000
2          NaN          NaN       106.500000        56.000000
3          NaN          NaN       111.900002        56.700001
4          NaN          NaN        92.100002        53.299999

   ActivePower_Avg  ReActivePower_Min  ReActivePower_Max  ReActivePower_Avg
0        84.284708           2.800000         -34.400000         -10.669090
1        86.101741          -4.800000         -17.100000         -10.026029
2        84.879394          13.700000         -28.599999         -10.155588
3        87.132617          15.600000         -37.200001          -9.970925
4        75.949611          18.200001         -56.800001         -15.029773

In [ ]:
print(df.dtypes)

In [ ]:
print(df.shape)

In [ ]:
print(df.info())

In [4]:
print(df.loc[:, "Voltage_Avg"].head())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Voltage_Avg, dtype: float64

In [5]:
df["Grid Supply Point (GSP)"].value_counts()

ISLINGTON             365
GRENDON               365
RICHBOROUGH           365
SELLINDGE             365
BARKING C (EPN)       365
BARKING WEST (EPN)    365
BRAINTREE             365
BURWELL               365
EATON SOCON           365
ELSTREE               365
RAYLEIGH              365
LITTLEBROOK (LPN)     365
SUNDON                365
WARLEY                365
WEST THURROCK         365
WYMONDLEY             365
BARKING C (LPN)       365
BARKING WEST (LPN)    365
CITY ROAD             365
HACKNEY 132           365
NORTHFLEET EAST       365
NINFIELD              365
LITTLEBROOK (SPN)     365
LALEHAM               365
LODGE ROAD            365
NEW CROSS 132         365
NEW CROSS 66          365
REDBRIDGE             365
ST JOHNS WOOD         365
WEST HAM              365
WILLESDEN 132         365
WILLESDEN 66          365
WIMBLEDON 1&2         365
WIMBLEDON 3&4         365
BRAMFORD              365
MILL HILL             365
NORWICH               365
BOLNEY                365
CANTERBURY NORTH      365
CHESSINGTON           365
KEMSLEY               365
HACKNEY 66            365
Name: Grid Supply Point (GSP), dtype: int64

In [7]:
point_filter = df["Grid Supply Point (GSP)"] == "NORWICH"

In [8]:
point_filter.head()

0    False
1    False
2    False
3    False
4    False
Name: Grid Supply Point (GSP), dtype: bool

In [9]:
df[point_filter].head()

,Grid Supply Point (GSP),Date,Voltage_Min,Voltage_Max,Voltage_Avg,ActivePower_Min,ActivePower_Max,ActivePower_Avg,ReActivePower_Min,ReActivePower_Max,ReActivePower_Avg
1653,NORWICH,2023-11-17T18:30:00-05:00,NaN,NaN,NaN,-39.437099,-34.456573,-123.885935,-58.336167,-66.432181,-36.879462
1654,NORWICH,2023-11-15T18:30:00-05:00,NaN,NaN,NaN,-267.508759,-251.817376,-251.671023,-27.018677,-32.438236,-30.883849
1655,NORWICH,2023-11-14T18:30:00-05:00,NaN,NaN,NaN,-141.858284,-116.965225,-157.490688,-47.474483,-26.343152,-38.047935
1656,NORWICH,2023-11-10T18:30:00-05:00,NaN,NaN,NaN,-90.833260,-65.398769,-68.536459,-77.575546,-81.027693,-70.211750
1657,NORWICH,2023-11-09T18:30:00-05:00,NaN,NaN,NaN,-54.643089,-29.006840,40.951453,-61.636299,-67.896711,-70.937299

In [10]:
df.loc[point_filter, :]

,Grid Supply Point (GSP),Date,Voltage_Min,Voltage_Max,Voltage_Avg,ActivePower_Min,ActivePower_Max,ActivePower_Avg,ReActivePower_Min,ReActivePower_Max,ReActivePower_Avg
1653,NORWICH,2023-11-17T18:30:00-05:00,NaN,NaN,NaN,-39.437099,-34.456573,-123.885935,-58.336167,-66.432181,-36.879462
1654,NORWICH,2023-11-15T18:30:00-05:00,NaN,NaN,NaN,-267.508759,-251.817376,-251.671023,-27.018677,-32.438236,-30.883849
1655,NORWICH,2023-11-14T18:30:00-05:00,NaN,NaN,NaN,-141.858284,-116.965225,-157.490688,-47.474483,-26.343152,-38.047935
1656,NORWICH,2023-11-10T18:30:00-05:00,NaN,NaN,NaN,-90.833260,-65.398769,-68.536459,-77.575546,-81.027693,-70.211750
1657,NORWICH,2023-11-09T18:30:00-05:00,NaN,NaN,NaN,-54.643089,-29.006840,40.951453,-61.636299,-67.896711,-70.937299
...,...,...,...,...,...,...,...,...,...,...,...
15325,NORWICH,2022-11-26T18:30:00-05:00,NaN,NaN,NaN,-243.220951,-220.981737,-232.101344,-22.414152,-24.838472,-23.626312
15326,NORWICH,2022-11-24T18:30:00-05:00,NaN,NaN,NaN,-156.779739,-53.661816,-151.151219,-53.040447,-40.152300,-52.007433
15327,NORWICH,2022-11-23T18:30:00-05:00,NaN,NaN,NaN,-193.897522,-94.082191,-181.212543,-58.758230,-44.471724,-47.543946
15328,NORWICH,2022-11-21T18:30:00-05:00,NaN,NaN,NaN,-306.848244,-182.112800,-223.265583,-48.475301,-36.944928,-37.975896
15329,NORWICH,2022-11-20T18:30:00-05:00,NaN,NaN,NaN,-173.391022,-38.325890,-122.573292,-80.845169,-68.280476,-65.403147

In [19]:
df = df[point_filter]

In [20]:
power_avg_missing = df["ActivePower_Avg"].isna()

In [21]:
df.loc[power_avg_missing, :]

Empty DataFrame
Columns: [Grid Supply Point (GSP), Date, Voltage_Min, Voltage_Max, Voltage_Avg, ActivePower_Min, ActivePower_Max, ActivePower_Avg, ReActivePower_Min, ReActivePower_Max, ReActivePower_Avg]
Index: []

In [22]:
df["ActivePower_Avg"].isna().sum()

0